body {
    background-image: url(https://cdn.create.vista.com/api/media/small/171470792/stock-photo-beautiful-business-woman-working-on-laptop-in-a-limousine);
    background-repeat: no-repeat;
    background-size: cover;
    /* mix-blend-mode: multiply; */
    font-family: sans-serif;
    color: white;
    padding: 10%;
}

.book-car {
    background-color: black;
    padding: 10%;
    border-radius: 5%;
}

h1 {
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

hr{
    height: 2px;
    border-color: black;
    background-color: black;
    margin-top: 30px;
}

footer {
    padding-top: 10px;
    text-align: center;
}

.address {
    font-style: italic;
}

a {
    color: white;
}

label {
    display: block;
    padding: 0.5em 0;
}

fieldset {
    padding-bottom: 2em;
    margin: 1em 3em;
}

input[type="submit"] {
    display: block;
    width: 23.3%;
}

.submit {
    padding-left: 40%;
}